
.form-balance{
  display: flex;
  gap: 4px;
  vertical-align: middle;

}

.move-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & .name{
    display: flex;
    flex-direction: column;

    & label {
      font-weight: 600;
    }

    & span{
      font-size: 12px;
      color: #666;
    }

  }
  & .amount{
    display: flex;
    align-items: center;
    & .debit {
      color: red;
    }
  }
}
