

<div class="mt-3">
  <!-- <div class="move-item" *ngFor="let move of moves" [routerLink]="['/moves/details',{id: move.id}]"> -->
  <div class="move-item" *ngFor="let move of moves" (click)="showDetails(move)" >
    <div class="name">
      <label>{{move.accountName}}</label>
      <span>{{move.date | date:'MMMM dd hh:mm'}}</span>
    </div>
    <div class="amount">
      <ng-container *ngIf="move.type=='credit'">
        <span class="credit">${{move.amount}}</span>
      </ng-container>
      <ng-container *ngIf="move.type=='debit'">
        <span class="debit">-${{move.amount!!}}</span>
      </ng-container>
    </div>
  </div>
</div>
