.home-header {
  background-color: #2d3e71;
  color: #fff;
  padding: 4px;
}
.home-buttons {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  gap: 2px;

  & button {
    width: 150px;
  }
}

.last-moves-header {
  background-color: #2d3e71;
  color: #fff;
}

.last-moves-container {
  padding: 5px;
}

.balance {
  margin-top: 5px;
  // color:  #fff;
  background-color: lightblue;
  padding: 10px;

  &__show {
    display: flex;
    justify-content: space-between;

    & span {
      font-weight: 600;
    }
  }
}
