<div class="home-header">
  <p>Hola {{model.name}}</p>

  <h3>Últimos movimientos</h3>
</div>

<div>
  <div class="form-balance">
    <label *ngIf="!showBalance" (click)="showBalance=true"><em class="fa-solid fa-eye"></em> <span> Mostrar
        saldo</span></label>
    <label *ngIf="showBalance">Saldo = {{balance}}</label>
  </div>
</div>

<div class="last-moves-container">
  <app-last-moves></app-last-moves>
</div>

<div class="home-buttons">
  <button class="btn btn-secondary"><em class="fa-solid fa-hand-holding-dollar"></em> Cobrar</button>
  <button class="btn btn-primary" (click)="pay()"><em class="fa-regular fa-paper-plane"></em> Pagar</button>
</div>

