<a (click)="back()"><em class="fa-solid fa-arrow-left"></em> Atrás</a>

<div class="form-payment-add">

  <div>
    <span class="title">Pagar a</span>
    <span class="accountName">Alex Espejo</span>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="mb-3">
        <input type="text" class="form-control" name="amount" id="" aria-describedby="helpId" placeholder="0.0">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" name="message" id="" aria-describedby="helpId"
          placeholder="Agregar mensaje">
      </div>

      <button type="submit" class="btn btn-primary form-control">Pagar</button>
    </form>
  </div>
</div>
